#opening_base {
  position: fixed;
  justify-content: center;
  display: flex;

  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #202024;

}

#opening_base_img {
  position: fixed;
  justify-content: center;
  display: flex;
  
  background-repeat: no-repeat;
  
  width: 100%;
  height: 100%;
  background-image: url("../../images/cybg1.png");

}

@media screen and (max-width: 700px) {

  #opening_base_img {

    background-image: url("../../images/cybg2.png");
    height: 100%;
    width: 100%;
    background-size: contain;
  }

}

#opening_midbox {
  position: relative;
  margin: auto;
  min-width: 300px;
  min-height: 420px;
  z-index: 5;
  background-color: #575c57c9; /* #727772c9 */
  border: solid 3px;
  border-color: #b45d5a;
  /*#b45d5a #7fca98*/
}

#opening_midbox_progress_base {

  margin-top: 0%;
  height: 30px;
  margin: auto;
  width: 80%;
  border: solid 2px;
  border-color: rgba(204, 85, 85, 0.75);
  border-radius: 30px;
  background-color: #575c57c9;
}

#opening_midbox_progress_inner {

  height: 26px;
  width: auto;
  border-radius: 30px;
  background-color: rgba(127, 255, 212, 0.781);
  animation-name: progressbar;
  /*animation-iteration-count: infinite;*/
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

#opening_midbox_progress_text {
  margin-top: -12%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(221, 116, 221);
  display: flex;
  justify-content: center;
}

#opening_midbox_circle1 {
  position: relative;
  justify-content: center;
  display: flex;
  margin: auto;
  width: 80%;
  height: 240px;
  border-radius: 50%;
  border: solid 3px #93d654;

  animation-name: rt1;
  animation-duration: 1.75s;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
}

#opening_midbox_circle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid 3px #e28f4c;
  animation-name: rt2;
  animation-duration: 1.75s;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
}
#opening_midbox_logo {

  width: 210px;
  height: 210px;
}
/*
#hhh {
  margin: auto;
  margin-top: 13%;
  width: 70%;
  height: 70%;

  border: solid 3px #4cb7e2;
  animation-name: rt3;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
}
  */
#opening_midbox_showtext{
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #d88383;
}


#opening_midbox_fadecircle {
  justify-content: center;
  position: absolute;
  top: 35%;
  width: 250px;
  height: 250px;
  z-index: 2;
  background-color: #212f6900;

  border-radius: 60%;

  /*
  border: solid 2px;
  border-color: #222277;
  */
  opacity: 0.8;

}


.fadein {
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.breathshow {
  animation-name: breathshow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
/*
.pstr {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #d88383;
  font-weight: bolder;
}
*/
.animationcls {
  animation-name: expend;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

@keyframes progressbar {
  0% {
    width: 10%;
  }

  100% {
    width: 100%;
  }
}

@keyframes rt1 {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }

  100% {
    transform: rotate3d(1, 1, 0, 720deg);
  }
}

@keyframes rt2 {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }

  100% {
    transform: rotate3d(1, -1, 1, 720deg);
  }
}

@keyframes rt3 {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }

  100% {
    transform: rotate3d(-1, -3, 2, 720deg);
  }
}

@keyframes expend {
  0% {
    transfrom: scale(1);
    background-color: #212f699d;
  }

  100% {
    transform: scale(10);
    background-color: #9eace79d;
  }
}

@keyframes fadein {

  0% {}

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes breathshow {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.6;
  }
}